.staking-main-div{
background-color: black;
background-image: url(../../assets/bg-2.png);
background-attachment: fixed;
 opacity: 0.9;
}
.staking-container{
    width: 30%;
    margin: auto;
   opacity: 1;
    text-align: center;
    padding-top: 50px;
}
.staking-container img{
    
}
.fafaicons a{
    text-decoration: none;
    color:#ffff ;
    font-size: 25px;
    margin:  15px;
}
.fafaicons{
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#s-link{
    color: #E0A52E;
    font-size: 13px;
}

.ss-link{
    margin: 20px;
}
.join{
    color: white;
    text-align: center;
}
.join h1{
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 20px;
}
.join input{
    background: black;
    border: none;
    outline: none;
    border: 2px solid white;
    font-size: 30px;
    text-align: right;
    margin: 20px 0px;
    color: #ffff;
}
::placeholder{
    background: transparent;
    color: #ffff;  
}
.staking-btn button{
padding: 10px 40px;
color: white;
background:#E0A52E ;
font-size: 20px;
/* border-radius: 20px; */
border: none;
outline: none;
}
.staking-btn #btn-1{
    background-color: transparent;
    

}
.staking-btn #btn-1 label{
    padding-top: -80px;
}
.staking-btn #btn-1 img{
    width: 146px;
    height: 44px;
}
.staking-btn{
    display: flex;
    justify-content: space-between;
}
.stat{
    color: white;
}
.stat p{
    text-align: left;
    font-size: 27px;
    color:#E0A52E ;
    font-weight: bold;
}
.stat h1{
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.stat-link{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
#stat-one{
    text-align: left;
}
#stat-two{
    text-align: left;
}
.btn-with{
    text-align: right;
}
.btn-with button{
    padding: 10px;
    background: black;
    color: white;
   
}
#view{
    margin: 80px 0px;
}
#label-btn{
    padding: 10px;
    background: black;
    color: white;
}
#last-div{
    font-size: 20px;
    color:#E0A52E ;
}
/* #view-two{
    margin-left: 40px;
}
#view-three{
    margin-left: -40px;
    font-size: 15px;
} */
#img-cls{
    width: 83px;
    height: 83px;
}
.last-link{

    display: flex;
    justify-content: center;

}
#img-cls1{
    font-size: 11px;
    margin: 20px;
    
}
#link-one{
    color: white;
}
@media (max-width:576px){
    .staking-container{
        width: 85%;   
    }
    .last-link{
        flex-wrap: wrap;
    }
}
@media (max-width:768px){
    .staking-container{
        width: 85%;   
    }
    .last-link{
        flex-wrap: wrap;
    }
}
@media (max-width:1024px){
    .staking-container{
        width: 85%;   
    }
    .last-link{
        flex-wrap: wrap;
    }
}