.contact-main-div{
    background-image: url(../../assets/bg-2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    text-align: center;
    font-family: 'Roboto Condensed';
    opacity: 0.9;
}
.main-container{
    opacity: 1;
}
#contact-hddr{
    text-transform: uppercase;
    color: #F3B433;
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 25px;
    letter-spacing: 3px;
}
.main-container h2{
    color: white;
   font-size: 60px;
   font-family: 'Comfortaa', cursive;
   font-weight: lighter !important;
   
}
#reach{
    color: #c3c9d4;
    font-family: 'Comfortaa', cursive;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
#form-one input{
    /* background: transparent; */
    background: #202228;
    border: 2px solid #333744;
    font-size: 15px;
    font-family: 'Comfortaa';
    font-weight: bold;
    margin: 20px 0px;
    padding: 20px 15px;
    border-radius: 5px;
    color: #fff;
}
::placeholder{
    color: #9099A9;
    
}
#form-one , #form-two{
    width: 40%;
}

#form-two textarea{
    background: #202228;
    border: 2px solid #333744;
    outline: none;
    padding: 20px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Comfortaa';
    font-weight: bold;
   color: #fff;
}
::placeholder{
    color: #9099A9;
}
.form-btn{
    border: 3px solid #FFBC33;
    color: #FFBC33;
    padding: 15px 30px;
    background: transparent;
    font-family: 'Comfortaa';
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;   
}
.form-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0px;
}
#form-two button{
    margin-top: 40px;
    float: left;
}
.contact-footer{
    width: 30%;
    margin: auto;
}
.contact-footer p{
    color: #c3c9d4;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    font-weight: bold;
    padding: 20px 0px;
}
.fafaicons a{
    font-size: 30px;
    
}
@media (max-width:576px){
    .form-div{
        flex-direction: column;
    }
    .bubbles{
        height: 75% !important;
    }
    #form-one,#form-two{
        width: 95%;
    }
    #form-two button{
        float: none;
    }
    .contact-footer{
        width: 95%;
    }
    .main-container h2{
        font-size: 45px;
    }
    
}
@media (max-width:768px){
    .form-div{
        flex-direction: column;
    }
    .bubbles{
        height: 66% !important;
    }
    #form-one,#form-two{
        width: 95%;
    }
    #form-two button{
        float: none;
    }
    .contact-footer{
        width: 95%;
    }
    .main-container h2{
        font-size: 45px;
    }
}
@media (max-width:1306px){
    .contact-footer{
        width: 95%;
    }
    .bubbles{
        height: 67% !important;
    }
}
/* //// */

.bubbles{
    position:absolute;
    width:100%;
    height: 70%;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#FFBC33;
    border-radius:50%;
    opacity:0.4;
    animation: rise 20s infinite ease-in;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:8s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }